body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../OPTION1B_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1070px;
    height:270px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:127px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1070px;
    height:270px
}

.u3_original {
    background-image: url('../OPTION1B_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:210px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:216px;
}

.u4 {
    position:absolute;
    left:2px;
    top:97px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:210px
}

.u5_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:506px;
    top:0px;
    width:40px;
    height:210px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u6 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:506px;
    top:0px;
    width:40px;
    height:210px
}

.u7_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u7_container {
    position:absolute;
    left:553px;
    top:0px;
    width:40px;
    height:210px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u8 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:553px;
    top:0px;
    width:40px;
    height:210px
}

.u9_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u9_container {
    position:absolute;
    left:600px;
    top:0px;
    width:40px;
    height:210px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u10 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:600px;
    top:0px;
    width:40px;
    height:210px
}

.u11_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u11_container {
    position:absolute;
    left:648px;
    top:0px;
    width:40px;
    height:210px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u12 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:648px;
    top:0px;
    width:40px;
    height:210px
}

.u13_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u13_container {
    position:absolute;
    left:791px;
    top:0px;
    width:40px;
    height:210px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u14 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:791px;
    top:0px;
    width:40px;
    height:210px
}

.u15_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u15_container {
    position:absolute;
    left:838px;
    top:0px;
    width:40px;
    height:210px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u16 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:838px;
    top:0px;
    width:40px;
    height:210px
}

.u17_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u17_container {
    position:absolute;
    left:743px;
    top:0px;
    width:40px;
    height:210px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u18 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:743px;
    top:0px;
    width:40px;
    height:210px
}

.u19_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u19_container {
    position:absolute;
    left:695px;
    top:0px;
    width:40px;
    height:210px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u20 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:695px;
    top:0px;
    width:40px;
    height:210px
}

.u21 {
    position:absolute;
    left:86px;
    top:31px;
    width:260px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:265px;
    top:169px;
    width:230px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../OPTION1B_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:287px;
    width:1070px;
    height:542px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:548px;
}

.u24 {
    position:absolute;
    left:2px;
    top:263px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:287px;
    width:1070px;
    height:542px
}

.u25_original {
    background-image: url('../OPTION1B_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:99px;
    top:288px;
    width:900px;
    height:541px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:900px;
    height:541px;
}

.u26 {
    position:absolute;
    left:2px;
    top:262px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:99px;
    top:288px;
    width:900px;
    height:541px
}

.u27_original {
    background-image: url('../OPTION1B_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:2px;
    top:846px;
    width:1070px;
    height:300px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:306px;
}

.u28 {
    position:absolute;
    left:2px;
    top:142px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:2px;
    top:846px;
    width:1070px;
    height:300px
}

.u29_original {
    background-image: url('../OPTION1B_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:751px;
    top:929px;
    width:250px;
    height:180px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:186px;
}

.u30 {
    position:absolute;
    left:2px;
    top:82px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:751px;
    top:929px;
    width:250px;
    height:180px
}

.u31 {
    position:absolute;
    left:752px;
    top:878px;
    width:250px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:407px;
    top:878px;
    width:180px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:64px;
    top:878px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:489px;
    top:922px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:490px;
    top:967px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:491px;
    top:1011px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:407px;
    top:926px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:397px;
    top:972px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:419px;
    top:1012px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:571px;
    top:1102px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:66px;
    top:932px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:138px;
    top:927px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:64px;
    top:972px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:139px;
    top:967px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:139px;
    top:1012px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:65px;
    top:1015px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:218px;
    top:1102px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_original {
    background-image: url('../OPTION1B_files/u3_original.png');
}

.u49_container {
    position:absolute;
    left:10px;
    top:-11px;
    width:500px;
    height:210px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:216px;
}

.u50 {
    position:absolute;
    left:2px;
    top:97px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:10px;
    top:-11px;
    width:500px;
    height:210px
}

.u51_original {
    background-image: url('../OPTION1B_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:10px;
    top:0px;
    width:499px;
    height:170px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:505px;
    height:176px;
}

.u52 {
    position:absolute;
    left:2px;
    top:13px;
    width:495px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:10px;
    top:0px;
    width:499px;
    height:170px
}

.u53_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u53_container {
    position:absolute;
    left:516px;
    top:-11px;
    width:40px;
    height:210px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u54 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:516px;
    top:-11px;
    width:40px;
    height:210px
}

.u55_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u55_container {
    position:absolute;
    left:563px;
    top:-11px;
    width:40px;
    height:210px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u56 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:563px;
    top:-11px;
    width:40px;
    height:210px
}

.u57_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u57_container {
    position:absolute;
    left:610px;
    top:-11px;
    width:40px;
    height:210px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u58 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:610px;
    top:-11px;
    width:40px;
    height:210px
}

.u59_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u59_container {
    position:absolute;
    left:658px;
    top:-11px;
    width:40px;
    height:210px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u60 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:658px;
    top:-11px;
    width:40px;
    height:210px
}

.u61_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u61_container {
    position:absolute;
    left:801px;
    top:-11px;
    width:40px;
    height:210px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u62 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:801px;
    top:-11px;
    width:40px;
    height:210px
}

.u63_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u63_container {
    position:absolute;
    left:848px;
    top:-11px;
    width:40px;
    height:210px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u64 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:848px;
    top:-11px;
    width:40px;
    height:210px
}

.u65_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u65_container {
    position:absolute;
    left:753px;
    top:-11px;
    width:40px;
    height:210px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u66 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:753px;
    top:-11px;
    width:40px;
    height:210px
}

.u67_original {
    background-image: url('../OPTION1B_files/u5_original.png');
}

.u67_container {
    position:absolute;
    left:705px;
    top:-11px;
    width:40px;
    height:210px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:216px;
}

.u68 {
    position:absolute;
    left:2px;
    top:97px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:705px;
    top:-11px;
    width:40px;
    height:210px
}

.u69 {
    position:absolute;
    left:279px;
    top:170px;
    width:230px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_original {
    background-image: url('../OPTION1B_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:11px;
    top:55px;
    width:259px;
    height:187px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:193px;
}

.u72 {
    position:absolute;
    left:2px;
    top:86px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:11px;
    top:55px;
    width:259px;
    height:187px
}

.u73_original {
    background-image: url('../OPTION1B_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:119px;
    top:242px;
    width:55px;
    height:14px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:-1px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:119px;
    top:242px;
    width:55px;
    height:14px
}

.u75_original {
    background-image: url('../OPTION1B_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:10px;
    top:48px;
    width:260px;
    height:192px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:198px;
}

.u76 {
    position:absolute;
    left:2px;
    top:48px;
    width:256px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:10px;
    top:48px;
    width:260px;
    height:192px
}

.u77_text {
    position:absolute;
    left:120px;
    top:217px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:120px;
    top:217px;
    width:150px;
    height:16px
}

.u79_original {
    background-image: url('../OPTION1B_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:1px;
    top:25px;
    width:180px;
    height:130px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:136px;
}

.u80 {
    position:absolute;
    left:2px;
    top:57px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:1px;
    top:25px;
    width:180px;
    height:130px
}

.u81_original {
    background-image: url('../OPTION1B_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:5px;
    top:155px;
    width:38px;
    height:10px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:16px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:5px;
    top:155px;
    width:38px;
    height:10px
}

.u83_original {
    background-image: url('../OPTION1B_files/u71_original.png');
}

.u83_container {
    position:absolute;
    left:1px;
    top:21px;
    width:259px;
    height:187px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:193px;
}

.u84 {
    position:absolute;
    left:2px;
    top:86px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1px;
    top:21px;
    width:259px;
    height:187px
}

.u85_original {
    background-image: url('../OPTION1B_files/u73_original.png');
}

.u85_container {
    position:absolute;
    left:109px;
    top:208px;
    width:55px;
    height:14px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:-1px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:109px;
    top:208px;
    width:55px;
    height:14px
}

.u87_original {
    background-image: url('../OPTION1B_files/u75_original.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:14px;
    width:260px;
    height:192px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:198px;
}

.u88 {
    position:absolute;
    left:2px;
    top:48px;
    width:256px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:0px;
    top:14px;
    width:260px;
    height:192px
}

.u89_text {
    position:absolute;
    left:130px;
    top:185px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:130px;
    top:185px;
    width:130px;
    height:16px
}

.u90_original {
    background-image: url('../OPTION1B_files/u90_original.png');
}

.u90_container {
    position:absolute;
    left:475px;
    top:768px;
    width:51px;
    height:37px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:37px;
}

.u91 {
    position:absolute;
    left:2px;
    top:10px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:475px;
    top:768px;
    width:51px;
    height:37px
}

.u92_original {
    background-image: url('../OPTION1B_files/u90_original.png');
}

.u92_container {
    position:absolute;
    left:844px;
    top:585px;
    width:51px;
    height:37px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:37px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:844px;
    top:585px;
    width:51px;
    height:37px
}

.u94 {
    position:absolute;
    left:10px;
    top:790px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

