#container{
    width:1170px;
    margin:auto;
}

#menu{
    height:310px;
    margin-bottom:5px;
    position:relative;
    -moz-border-radius:50px;
    border-radius:50px;
    /*http://colorschemedesigner.com/#3C11Tw0w0w0w0*/
    background-color:#04346C;

}

#temp{
    height:250px;
    width:324px;
    position:absolute;
    left:200px;
    top:40px;
    margin-top:15px;
    margin-bottom:15px;

    -moz-border-radius:5px;
    border-radius:5px;

}