/*****OVERALL PAGE*****/
body{
    background-color:#11466F;
    font-family:"arial", verdana, sans-serif;
}

#container{
    position:relative;
    width:970px;
    margin:0 auto 0px auto;
    border-radius:10px;
    background-color:#ffffff;

}

/*****MENU - TOP SECTION: SITE HEADER, EVENTS INFO*****/
#menu{
    height:250px;
    width:940px;
    position:relative;
    background-color:#ffffff;
    border-top-left-radius:5px;
    margin:auto auto 15px auto;
}

#header_logo{
    position:absolute;
    top:70px;
    right:2px;
}

#accordion{
    display:none;
    height:225px;
    width:970px;
    position:absolute;
    top:10px;
    left:10px;
    border-style:solid;
    border-color:#11466F;
}

/*****MAP AREA - MID SECTION: MAP*****/
#map-area {                                     /*this is the div holding the map*/
    height:500px;
    width:880px;
    margin:auto;

    background-color:#5b5b5b;

    -webkit-box-shadow:-7px -7px 12px #BEBEBE;  /*Safari&Chrome*/
    -moz-box-shadow:-7px -7px 12px #BEBEBE;     /*FF*/

    text-align:right;
    position:relative;                         /*create stacking context*/
}

#map{
    z-index:1;
}

/*****MAP AREA - MID SECTION: MAP CONTENT*****/
#onmap {
    height:500px;
    width:530px;
    position:absolute;
    top:0px;
    left:350px;
}

/*#buttons{
    z-index:2;
}

#venues{
    z-index:1;
}*/

/*****MAP CONTENT: BUTTONS*****/
.mockup_button{
    height:35px;
    width:35px;
    position:absolute;
}

.mockup_button:hover{
    height:50px;
    width:50px
}

#mockup_button1{
    left:306px;
    top:140px;
}

#mockup_button2{
    left:449px;
    top:273px;
}

#mockup_button3{
    left:169px;
    top:175px;
}

#mockup_button4{
    left:219px;
    top:450px;
}

/*****MAP CONTENT: VENUE INFO*****/
#soma-logo{
    background-color:white;
    width:100px;
    height:42px;
    padding:15px;
    border-radius:20px;
    position:absolute;
    left:333px;
    top:82px;
    display:none;

}

#house-logo{
    background-color:white;
    width:100px;
    height:100px;
    padding:15px;
    border-radius:20px;
    position:absolute;
    top:336px;
    left:110px;
    display:none;

}

#mockup_soma{
    position:absolute;
    left:50px;
    height:305px;
    width:255px;
    background-color:white;
    text-align:left;
    border-radius:20px;
    display:none;
}

#mockup_soma img{
    border-top-left-radius:20px;
    border-top-right-radius:20px;

}

#social-icons{
    position:relative;
    background-color:#5b5b5b;
}

#social-icons ul{
    list-style-type:none;
    position:absolute;
    right:5px;;
    top:0;
    padding:0;
}

#info{
    margin-left:10px;
}

#venue-title{
    text-decoration:none;
    font-size:14px;
    color:#5884a9;
    font-weight:bold;
}

#gmaps{
    text-decoration:none;
    font-size:12px;
    color:#5884a9;
    font-weight:bold;
}

#venue-details{
    font-size:12px;
    margin-top:0;
    padding:0;
    list-style-type:none;
}

#venue-details li{
    margin-bottom:5px;
    color:#5b5b5b;
}

#ages{
    font-style:italic;
}

#tix{
    float:left;
    margin-top:-3px;
}

#ticketing{
    margin-top:10px;
}

#info p{
    font-size:12px;
    font-weight:bold;
    color:#5884a9;
}

#info p:hover{
    font-style:italic;
}

/*

.mockup_button {
    visibility:visible;
}

.mockup_button:hover{
    visibility:hidden;
}

/*
.onmap{
    height:500px;
    width:530px;
    position:absolute;
    top:0;
    left:350px;
}

#buttons{
    z-index:2;
    border-color:blue;
    border-style:dashed;

}

/*.button:hover{
    visibility:visible;
}

#mockup_button1 {
    display:block;
    position:absolute;
    top:155px;
    left:150px;
    height:60px;
    width:65px;
}

#mockup_button1:hover {
    display:none;
    position:absolute;
    top:155px;
    left:150px;
    height:60px;
    width:65px;
}

#mockup_button2{

}

#venues{
    z-index:1;
    border-color:red;
    border-style:dotted;
}

#mockup_venue1 {
    display:none;
    position:absolute;
    top:50px;
    height:320px;
    width:310px;
    overflow:hidden;
    background-color:white;
}

#mockup_venue2 {
    display:none;
    position:absolute;
    top:50px;
    height:320px;
    width:310px;
    overflow:hidden;
    background-color:white;
}*/

footer{
    height:300px;
    width:900px;
    margin:0px auto 50px auto;

}

.tabs {
    list-style:none;
    text-align:center;
    margin:0px;
    position:absolute;
    bottom:-50px;
}

.tabs li{
    height:50px;
    width:100px;
    float:left;
    background-color:#ffffff;
    border-width:0px 5px 5px 5px;
    border-style:solid;
    border-color:white;
    border-radius:0px 0px 20px 20px;
    margin-right:10px;

}

.tabs li:hover{
    background-color:#5884a9;
}

.tabs li ul{
    list-style:none;
    position:relative;
}

.tabs li ul li{
    position:absolute;
    display:none;
    left:0px;
    top:-2px;
}

.tab{
    text-decoration:none;
    font-family:"arial", verdana, sans-serif;
    font-size:13px;
    font-weight:bold;
    color:#5b5b5b;
    margin-top:20px;
}


.footer{
    width:260px;
    height:300px;
    background-color:#ffffff;
    float:left;
    margin-right:10px;
    border-style:solid;
    border-color:#5884a9;
    border-width:15px;
    border-radius:15px;
}
