#container{
    position:relative;
    width:970px;
    margin:auto;
    background-color:#11466F;
    border-radius:5px;
}

#menu{
    height:250px;
    position:relative;
    background-color:#11466F;

    border-radius:5px;
}

#logo{
    height:160px;
    width:567px;
    background-color:white;
    position:absolute;
    right:200px;
    top:90px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

#header_logo{
    position:absolute;
    bottom:0px;
    right:2px;
}

#map-area {
    height:500px;
    width:880px;
    margin:auto;

    background-color:#5b5b5b;

    border-color:white;
    border-width:30px;
    border-style:solid;
    border-radius:5px;

    text-align:right;
}




