.VenueName
{
    text-align: center;
    font-size: 100px;
    font-style: "Arial";
}
.Months
{
    Text 
}
.Links
{
    text-align: center;
    
}
body
{
background-color:#6D7B8D;
width: 570px;
height: 700px;
border-width: 5px;
border-style: solid;
border-color: black;
}