body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../OPTION2A_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:287px;
    width:1070px;
    height:542px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:548px;
}

.u1 {
    position:absolute;
    left:2px;
    top:263px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:287px;
    width:1070px;
    height:542px
}

.u2_original {
    background-image: url('../OPTION2A_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:99px;
    top:288px;
    width:900px;
    height:541px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:900px;
    height:541px;
}

.u3 {
    position:absolute;
    left:2px;
    top:262px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:99px;
    top:288px;
    width:900px;
    height:541px
}

.u5_original {
    background-image: url('../OPTION2A_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:430px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:436px;
}

.u6 {
    position:absolute;
    left:2px;
    top:207px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:430px
}

.u7_original {
    background-image: url('../OPTION2A_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:20px;
    top:12px;
    width:180px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:24px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:12px;
    width:180px;
    height:80px
}

.u9_original {
    background-image: url('../OPTION2A_files/u7_original.png');
}

.u9_container {
    position:absolute;
    left:250px;
    top:12px;
    width:180px;
    height:80px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:250px;
    top:12px;
    width:180px;
    height:80px
}

.u11_original {
    background-image: url('../OPTION2A_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:30px;
    top:100px;
    width:600px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:30px;
    top:100px;
    width:600px;
    height:30px
}

.u13_original {
    background-image: url('../OPTION2A_files/u7_original.png');
}

.u13_container {
    position:absolute;
    left:470px;
    top:12px;
    width:180px;
    height:80px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:470px;
    top:12px;
    width:180px;
    height:80px
}

.u15_original {
    background-image: url('../OPTION2A_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:30px;
    top:170px;
    width:370px;
    height:240px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:376px;
    height:246px;
}

.u16 {
    position:absolute;
    left:2px;
    top:112px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:30px;
    top:170px;
    width:370px;
    height:240px
}

.u17_original {
    background-image: url('../OPTION2A_files/u7_original.png');
}

.u17_container {
    position:absolute;
    left:430px;
    top:200px;
    width:180px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:430px;
    top:200px;
    width:180px;
    height:80px
}

.u19_original {
    background-image: url('../OPTION2A_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:134px;
    width:230px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:30px;
    top:134px;
    width:230px;
    height:30px
}

.u21_original {
    background-image: url('../OPTION2A_files/u7_original.png');
}

.u21_container {
    position:absolute;
    left:432px;
    top:302px;
    width:180px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u22 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:432px;
    top:302px;
    width:180px;
    height:80px
}

.u23_original {
    background-image: url('../OPTION2A_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1070px;
    height:270px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:276px;
}

.u24 {
    position:absolute;
    left:2px;
    top:127px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:1070px;
    height:270px
}

.u25_original {
    background-image: url('../OPTION2A_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:2px;
    top:846px;
    width:1070px;
    height:300px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1076px;
    height:306px;
}

.u26 {
    position:absolute;
    left:2px;
    top:142px;
    width:1066px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:2px;
    top:846px;
    width:1070px;
    height:300px
}

.u27_original {
    background-image: url('../OPTION2A_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:751px;
    top:929px;
    width:250px;
    height:180px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:186px;
}

.u28 {
    position:absolute;
    left:2px;
    top:82px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:751px;
    top:929px;
    width:250px;
    height:180px
}

.u29 {
    position:absolute;
    left:752px;
    top:878px;
    width:250px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:407px;
    top:878px;
    width:180px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:64px;
    top:878px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:489px;
    top:922px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:490px;
    top:967px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:491px;
    top:1011px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:407px;
    top:926px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:397px;
    top:972px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:419px;
    top:1012px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:571px;
    top:1102px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:66px;
    top:932px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:138px;
    top:927px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:64px;
    top:972px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:139px;
    top:967px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:139px;
    top:1012px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:65px;
    top:1015px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:218px;
    top:1102px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_original {
    background-image: url('../OPTION2A_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:1px;
    top:60px;
    width:180px;
    height:130px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:136px;
}

.u48 {
    position:absolute;
    left:2px;
    top:57px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:1px;
    top:60px;
    width:180px;
    height:130px
}

.u49_original {
    background-image: url('../OPTION2A_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:5px;
    top:190px;
    width:38px;
    height:10px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:16px;
}

.u50 {
    position:absolute;
    left:2px;
    top:-3px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:5px;
    top:190px;
    width:38px;
    height:10px
}

.u51_original {
    background-image: url('../OPTION2A_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:1px;
    top:40px;
    width:189px;
    height:150px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:150px;
}

.u52 {
    position:absolute;
    left:2px;
    top:67px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1px;
    top:40px;
    width:189px;
    height:150px
}

.u53_original {
    background-image: url('../OPTION2A_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:82px;
    top:30px;
    width:878px;
    height:210px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:884px;
    height:216px;
}

.u54 {
    position:absolute;
    left:2px;
    top:89px;
    width:874px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:82px;
    top:30px;
    width:878px;
    height:210px
}

